.item{
    display: flex;
    gap: 1rem;
    position: relative;
}
.fotoproducto {
    width: 8rem;
}
.fotoproducto img{
    width: 100%;
}
.producto {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 0;
}
.producto h4 {
    margin: 0;
    text-transform: uppercase;
}
.producto h4 span{
    font-weight: normal;
    font-size: 1.4rem;
    opacity: .5;
    text-transform: lowercase;
}
.descripcion {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    max-width: 27rem;
}
.descripcion p {
    margin: 0;
    font-size: 1.6rem;

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    text-overflow: ellipsis;
    overflow: hidden;
}
.details{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cantidad{
    display: flex;
    gap: .5rem;
}
.cantidad input {
    width: 4rem;
    font-size: 1.6rem;
    text-align: center;
    border: none;
}
.cantidad button {
    color: var(--white);
    background-color: black;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.subtotal{
    font-size: 1.4rem;
    font-weight: normal;
}
.subtotal span{
    font-weight: bold;
}
.delete {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2.4rem;
    cursor: pointer;
    border: none;
    padding: .5rem;
    border-radius: .5rem;
    background-color: var(--red);
    color: var(--white);
}