/* Establece un gradiente de fondo para el contenedor general */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative; /* Esto permite posicionar absolutamente el texto de fondo */
    background: linear-gradient(to right, #172431, #4d5fa7, #6bb6e7); /* Gradiente de azul oscuro a gris */
}

/* Estilos para el formulario con bordes redondeados y sombra suave */
.form {
    display: flex;
    flex-direction: column;
    width: 35%;
    padding: 20px;
    height: 70%;
    background-color: #ffffff; /* Fondo blanco para el formulario */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1); /* Sombra más pronunciada */
    border-radius: 10px; /* Bordes redondeados */
    overflow: hidden;
}

/* Título con estilo simple y moderno */
.title {
    font-size: 24px;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

/* Estilos comunes para las etiquetas de los inputs */
.label {
    font-size: 14px;
    color: #555;
    margin-bottom: 5px;
    display: block;
}

/* Inputs con bordes sutiles y un gran enfoque en la interacción */
.input {
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #ddd; /* Borde más sutil */
    border-radius: 5px;
    transition: all 0.3s; /* Transición para efectos de enfoque */
}

.input:focus {
    border-color: #0056b3; /* Resaltar el input en foco */
    box-shadow: 0 0 8px rgba(0, 86, 179, 0.2); /* Sombra suave al enfocar */
}

/* Botón con efecto de gradiente y transición suave */
.button {
    background: linear-gradient(to right, #6a11cb, #2575fc); /* Gradiente similar al de la imagen */
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    font-weight: 500;
    margin-bottom: 10px;
}

.button:hover {
    background: linear-gradient(to right, #2575fc, #6a11cb); /* Invertir gradiente al pasar el ratón */
    transform: translateY(-2px); /* Desplazamiento al pasar el ratón */
}

.button:active {
    transform: translateY(1px); /* Efecto al hacer clic */
}

/* Botones de redes sociales con iconos */
.social-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.social-button {
    background: white;
    border: none;
    cursor: pointer;
    border-radius: 50%; /* Botones circulares */
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave para los botones */
}

/* Íconos de redes sociales */
.social-icon {
    height: 20px;
    width: 20px; /* Tamaños ajustados para los íconos */
}

.backgroundText {
  
    top: 3%; /* Posición desde la parte superior */
    left: 50%; /* Centrado horizontalmente */
    transform: translateX(-50%); /* Alineación precisa del centro */
    font-size: 90px; /* Tamaño grande del texto */
    color: white; /* Color del texto */
    opacity: 0.8; /* Transparencia para no distraer demasiado */
}

.socialButton{
    width: 50px;
    height: 50px;
}

.socialButtons{
    padding-left: 50px;
}

.signuplink {
    text-align: center;
    margin-top: 20px;
    margin-right: 55px;
}
