.body{
    max-width: 110rem;
    margin: 15rem auto;
    position: relative;
}
.back{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    padding: 0 5rem;
}
.back a{
    color: var(--black);
}

.CatHead{
    flex: 1;
    justify-content: center;
    text-align: center;
}
.subtitle{
    margin: 5rem 0;
    padding: 0 5rem;
}
.CatHeaddiv{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.logoimage{
    width: 60px;
    height: auto;
}
.vapes{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 7rem;
    padding: 0 3rem;
}


