.CatHead{
    flex: 1;
    justify-content: center;
    text-align: center;
}
.CatHeaddiv{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.body{
    margin-top: 100px;
    margin-left: 10px;
    
}
.logoimage{
    width: 60px;
    height: auto;
}


