.body{
    background-color: var(--background);
    padding: 4rem 0;
}
.container{
    max-width: 120rem;
    margin: 0 auto;
    width: 95%;
}
.subtitle{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0 auto;
    padding: 0 2rem;
    width: 95%;
}
.subtitle button {
    border: none; 
    cursor: pointer; 
    background: none; 
    text-transform: uppercase;
}
.subtitle a{
    color: var(--black);
}
.subtitle button:hover {
    color: gray;
}
.subtitle h2{
    margin: 0;
}
.no-products{
    text-align: center;
    opacity: .5;
    margin: 10rem 0;
}
.swiper-wrapper{
    padding: 0 7rem;
    width: calc(100% - 14rem);
}
.swiper > *{
    scroll-snap-type: unset !important;
}
.swiper-slide {
    transition: transform 0.2s ease-in-out;
}

.swiper-slide:hover  {
    transform: scale(1.05);
    transition: transform 0.2s ease-in-out;
}
.swiper-slide  img{
    transition: transform 0.2s ease-in-out;
}
.swiper-slide:hover  img{
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
}