.mainCard{
    background-color: var(--white);
    display: flex;
    justify-content: space-between;
    border-radius: 2rem;
    padding: 2rem 4rem;
    margin-bottom: -5rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.mainText{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.mainImage{
    width: auto;
    height: 22rem;
    padding: 20;
}
.mainImage img{
    height: 100%;
}
.mainPrice{
    font-size: 2.3rem;
}
.mainBrand{
    font-size: 3rem;
}
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 10000;
    width: 400px;
    height: auto;
    border-radius: 10px;
  }

.popup h3 {
    font-size: 1.5em; 
    margin-bottom: 10px; 
}

.popup p {
    margin-bottom: 5px; 
}

.popup .imagevape img {
    max-width: 100%; 
    height: auto;
    border-radius: 8px; 
}

.popup button {
    padding: 10px 20px; 
    font-size: 1em; 
    background-color: #4CAF50; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer;
    margin-left: 200px;
}

.popup button:hover {
    background-color: #45a049; /* Darker green on hover */
}

  .button1{
    color:green;
  }
  .imagevape{
    width: 50px; 
    height: auto; 
  }

  .popup .button2 {
    position: absolute; 
    
    top: 5px; 
    right: 5px; 
    background-color: transparent;
    color: #888;
    border: none;
    font-size: 20px;
    cursor: pointer;
  }
  
  .popup .button2:hover {
    color: #555;
  }