.mainCard {
    background-color: var(--white);
    display: flex;
    justify-content: space-between;
    border-radius: 2rem;
    padding: 2rem 4rem;
    /* margin-bottom: -30%; */
    min-width: 80%;
    min-height: 23rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: relative;
}

.mainText {
    width: 60%;
}

.mainImage {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainImage img {
    width: 80%;
    height: auto;
}

.mainPrice {
    font-size: 2.3rem;
}

.mainBrand {
    font-size: 3rem;
}



.popupcontainer {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup {
    position: relative;
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 10000;
    width: 400px;
    height: auto;
    border-radius: 10px;
}

.popup h3 {
    font-size: 1.5em;
    margin: 2rem 0 3rem 0;
}
.content{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
}

.info{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.info h4{
    margin: 0;
}
.info p{
    font-size: 1.6rem;
    margin: 0;
}
p.price{
    font-size: 2.4rem;
}
.imagevape {
    width: 45%;
    height: auto;
}
.imagevape img {
    max-width: 100%;
}
.button1 button, .button2 button{
    border: none;
    border-radius: .5rem;
    cursor: pointer;
}
.button1{
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}
.button1 button {
    font-size: 1.4rem;
    background-color: var(--green);
    color: var(--white);
    padding: .5rem 1rem;
}
.button1 button:hover {
    background-color: color-mix(in srgb, var(--green) 70%, #000);
}
.button2 button{
    font-size: 2rem;
    background-color: transparent;
    position: absolute;
    top: 5px;
    right: 5px;
    padding: .5rem 1rem;
    color: var(--white);
    background-color: var(--red);
}

.button2 button:hover {
    background-color: color-mix(in srgb, var(--red) 70%, #000);
}