.card {
    display: flex;
    justify-content: space-between;
    border-radius: 2rem;
    user-select: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    min-height: 28rem;
    width: 30rem;
}

.vape {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 2rem;
    margin-top: -3.5rem;
}
.vapeimage{
    height: 22rem;
    width: 100%;
    
    
}
.vapeimage img {
    height: 115%;
    width: auto;
    object-fit: cover;
}

.vape p {
    margin: 0;
    /* margin-top: -1rem; */
    font-size: 2.4rem;
    position: relative;
    z-index: 1;
    font-weight: bold;
}

.addButton {
    width: 3rem;
    height: 3rem;
    border-radius: 3rem;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    transition: background-color 0.3s ease;
    color: #000;
}

.addButton:hover {
    background-color: #bbb;
}

.price {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.price p {
    margin: 0;
    writing-mode: vertical-lr;
    transform: rotate(-180deg);
    font-size: 1.8rem;
    border-radius: 0% 15% 15% 0%;
    padding: 0.5rem;
}