.carrousel{
    width: 95%;
    margin: 2rem auto;
}

.carrousel .swiper{
    padding: 5rem 3rem;
}

.card{
    display: flex;
    justify-content: space-between;
    border-radius: 2rem;
    user-select: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    min-height: 28rem;
    min-width: 20rem;
}
.vape{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    margin-top: -3.5rem;
    padding: 0 2rem;
}
.vape .image{
    height: 22rem;
}
.vape .image img{
    height: 100%;
}
.vape p{
    margin: 1rem 0;
    font-size: 2rem;
}

.price {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.price p{
    margin: 0;
    writing-mode: vertical-lr;
    transform: rotate(-180deg);
    font-size: 1.8rem;
    border-radius: 0% 15% 15% 0% ;
    padding: .5rem;
} 

/* Estilos existentes... */

/* Nuevo estilo para el contenedor del botón */
.add-container {
    display: flex;
    justify-content: center; /* Centra el botón horizontalmente */
    padding: 1rem; /* Espacio alrededor del botón */
}

/* Actualización de estilos para el botón */
.add-button {
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: #e4e4e4;
    color: #000000;
    width: 10px;
    height: auto;
    border: 1px solid #474545; /* Ejemplo: borde sólido azul */

    /* Removemos margin-left ya que ahora el botón está solo en su contenedor */
}

.add-button:hover {
    background-color: #bbb;
}
