.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: var(--background);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.logoname{
    margin: 0;
    padding: 0;
    font-size: 2rem;
}
.logoimage{
    width: 60px;
    height: auto;
}
.actions{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.cartIcon, .actions a{
    all: unset;
    cursor: pointer;
    margin: 1rem;
}