.socialMedia {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.socialMedia i{
    font-size: 4.5rem;
    color: aqua;
}
.socialMedia.footer {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 1.5rem;
    margin-top: 1rem;
}

.socialMedia.footer i {
    font-size: 3rem;
    color: black;
}